<!-- <footer> -->
		<!-- <div class="container"> -->
			<p class="copy">Copyright 2015 &copy; Powered By MustacheThemes.</p>
			<p class="address">The Best Nonprofit Bootstrap Theme</p>
		<!-- </div> -->
	<!-- </footer> -->
